.header  {
    background-color: #0F2899;
    border-top: 5px solid rgb(103, 45, 139);
    height: 50px;
    padding-left: 0 !important;
    padding-top: 10px;
}
.header .btn-login  {
    color: silver;
    cursor: pointer;
    letter-spacing: 1px;
}
/*Start Toogle-box-login*/
.header .toggle-box-login  {
    background-color: #FFFFFF;
    -webkit-box-shadow: 4px 4px 10px #000000;
    -moz-box-shadow: 4px 4px 10px #000000;
    box-shadow: 4px 4px 10px #000000;
    bottom: -400px;
    display: none;
    height: 400px;
    top: 45px;
    right: 10px;
    width: 250px;
    z-index: 100;
}
.header .login-form  {
    height: 350px;
}
.header .login-form label  {
    clear: both;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
}
.header .login-form input  {
    border: 2px solid silver;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 10px !important;
    width: 100%;
}
.header .login-form input[type=radio]  {
    margin-top: -25px;
}
.header .login-form input[type=submit]  {
    background-color: #811597;
    border: none;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-top: 30px;
    width: 100%;
}
.header .toggle-box-login .register  {
    background-color: #0F2899;
    height: 50px;
    letter-spacing: 1px;
    padding-top: 15px;
    text-align: center;
}
.header .toggle-box-login .register a:link  {
    color: #FFFFFF;
    text-decoration: none;
}
.header .toggle-box-login .register a:hover {
    color: #FFFFFF;
}
.header .toggle-box-login .register a:visited  {
    color: #FFFFFF;
}
@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
