.main-profil  {
    background-color: #EDEFF2;
    padding-bottom: 100px;
}
.main-profil .insert-contact-info-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.main-profil .insert-contact-info-modal-content  {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.main-profil .insert-contact-info-modal label  {
    clear: both;
    display: block;
}
.main-profil .insert-contact-info-modal input[type=text]  {
    border: 2px solid silver;
    clear: both;
    display: block;
}
.main-profil .insert-contact-info-modal .error  {
    color: red;
    display: none;
}
.main-profil .container-profil .btn-play-gallery  {
    background-color: rgb(103, 45, 139);
    color: #ffffff;
    cursor: pointer;
}
.main-profil .form-upload-imgs  {
    border: 2px solid red;
}
.main-profil .form-upload-imgs .container-img-in-gallery  {
    height: 120px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 150px !important;
}
.main-profil .form-upload-imgs .container-icon-tent  {
    border: 5px solid silver;
    border-radius: 50%;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 15px;
    width: 100px;
}
.main-profil .form-upload-imgs .icon-tent  {
    color: silver;
    font-size: 50px;
}
.main-profil .form-upload-imgs img  {
    height: 100% !important;
    width: 100% !important;
}
.main-profil input[type=file] {
    clear: both;
    display: block;
}
.main-profil .form-upload-imgs .container-icon-edit-photo  {
    background-color: #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    padding-left: 6px;
    right: 2px;
    top: 3px;
    width: 25px;
}
.main-profil .form-upload-imgs .container-icon-delete-photo  {
    background-color: #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 5px;
    bottom: 3px;
    cursor: pointer;
    height: 25px;
    padding-left: 6px;
    right: 2px;
    width: 25px;
}
.main-profil .form-upload-imgs .container-icon-edit-photo .icon-edit-photo  {
    color: darkGreen;
    font-size: 14px;
}
.main-profil .form-upload-imgs .container-icon-delete-photo .icon-delete-photo  {
    color: red;
    font-size: 14px;
}
.main-profil .form-delete-photo  {
    height: 50px;
    width: 120px;
}
.main-profil .nav-profil li  {
    display: inline;
    list-style-type: none;
}
.main-profil .icon-photo-profil  {
    border: 2px solid #C0C0C0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #C0C0C0;
    font-size: 35px;
    padding: 1px;
}
.main-profil .photo-profil-in-nav-menu  {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.main-profil .aside-mobile ul  {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px #000000;
    -moz-box-shadow: 2px 2px 4px #000000;
    box-shadow: 2px 2px 4px #000000;
    display: block;
    height: 85px !important;
    padding: 5px 10px 5px 5px;
}
.main-profil .aside-desktop ul  {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px gray;
    -moz-box-shadow: 2px 2px 4px gray;
    box-shadow: 2px 2px 4px gray;
    padding: 5px;
}
.main-profil .aside ul li  {
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    list-style-type: none;
}
.main-profil .aside ul li a:link  {
    color: gray;
}
.main-profil .aside ul li a:visited  {
    color: gray;
}
.main-profil .aside ul li a:hover  {
    text-decoration: none;
    text-shadow: 1px 1px 10px gray;
}
.main-profil .aside-desktop ul li:nth-child(1)  {
    border-bottom: 2px solid silver;
}
.main-profil .aside-desktop ul li:nth-child(2)  {
    border-bottom: 2px solid silver;
    margin-top: 10px;
}
.main-profil .aside-mobile ul li:nth-child(1)  {
    border-bottom: 2px solid silver !important;
}
.main-profil .aside-mobile ul li:nth-child(2)  {
    border-bottom: 2px solid silver;
    margin-right: -5px !important;
}
.main-profil .aside-mobile ul li a:link  {
    display: inline !important;
    width: 50%;
}
.main-profil .aside-mobile  {
    height: 130px;
}
.main-profil .aside-mobile .btn-menu-mobile  {
    background-color: rgb(103, 45, 139);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    padding-left: 8px;
    padding-top: 2px;
    width: 30px;
}
.main-profil .aside-mobile .btn-menu-mobile i  {
    color: silver;
}
.main-profil .aside-mobile .menu-list-profil-mobile  {
    display: none;
    height: 75px;
    width: 200px;
}
.main-profil .aside-mobile .menu-list-profil-mobile .btn-profil  {
    float: left;
    width: 50%;
}
.main-profil .aside-mobile .menu-list-profil-mobile .btn-gallery  {
    float: right;
    width: 50%;
}
.main-profil .container-profil  {
    width: 90%;
}
.main-profil .container-profil-info  {
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px gray;
    -moz-box-shadow: 2px 2px 4px gray;
    box-shadow: 2px 2px 4px gray;
}
.main-profil .container-profil-info .label  {

}
.main-profil .container-profil-info .p-info-in-profil  {

}
.main-profil .container-profil-info .div-info-in-profil  {
    height: 120px;
}
.main-profil .container-profil-info .div-info-in-profil:nth-child(even)  {
    background-color: #F1F1F1;
}
.main-profil .container-profil-info .div-info-in-profil .btn-edit-info  {
    border: none;
    clear: both;
    color: #0c5460;
    font-size: 0.9em;
}
.main-profil .edit-modal input[type=text]  {
    border: 2px solid silver;
    clear: both;
    display: block;
    padding: 4px;
}
.main-profil .edit-modal input[name=edited-info-name]  {
    border: none;
    font-size: 24px;
}
.main-profil .edit-modal textarea  {
    border: 2px solid silver;
    clear: both;
    display: block;
    padding: 4px;
    width: 100%;
}
.main-profil .edit-modal select  {
    border: 2px solid silver;
    clear: both;
    display: block;
    padding: 4px;
}
.main-profil .edit-modal .btn-edit-info  {
    clear: both;
    display: block;
    margin-top: 50px;
}
.main-profil .container-settings  {
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 80px !important;
}
.main-profil .form-update-contact-form  {
    margin-top: 30px;
}
.main-profil .form-update-contact-form label  {
    clear: both;
    display: block;
}
.main-profil .form-update-contact-form input  {
    clear: both;
    display: block;
}
.main-profil .form-update-contact-form .btn-upload-contact-info  {
    cursor: pointer;
}
/* C L A S S E S */
.white-border  {
    border: 4px solid #FFFFFF;
 }
@media (min-width: 576px){
    .main-profil  {
        padding-bottom: 200px;
    }
    .main-profil .aside  {
        margin-top: 90px;
    }
    .main-profil .container-profil-info .label  {
        width: 30%;
    }
    .main-profil .container-profil-info .p-info-in-profil  {
        width: 50%;
    }
    .main-profil .form-upload-imgs  {
        height: 200px;
    }
    .main-profil .form-upload-imgs .container-img-in-gallery  {
        height: 90% !important;
        width: 180px !important;
    }
    .main-profil .form-upload-imgs img  {

    }
    .main-profil .form-upload-imgs .container-icon-tent  {
        height: 120px;
        margin-left: 25px;
        margin-top: 15px;
        width: 120px;
    }
    .main-profil .form-upload-imgs .icon-tent  {
        margin-left: 8px;
        margin-top: 10px;
    }
    .main-profil .container-settings .btn-edit-contact-info  {
            margin-left: 18px;
    }
    .main-profil .form-update-contact-form  {
        margin-left: 20px;
        margin-top: 40px;
        width: 200px;
    }
}
@media (min-width: 768px){
    .main-profil .insert-contact-info-modal-content  {
        width: 600px;
    }
}
@media (min-width: 992px){
    .main-profil .container-profil-info  {
        width: 700px;
    }
    .main-profil .container-profil  {
        padding-left: 100px;
    }
}
@media (min-width: 1200px) {
    .main-profil .form-upload-imgs .container-img-in-gallery {
        height: 180px !important;
        width: 200px !important;
    }
    .main-profil .form-upload-imgs .container-icon-tent  {
        margin-left: 30px;
        margin-top: 25px;
    }
}