.main-admin  {
    background: url('/../images/register/syros.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    padding-top: 150px;
}
.main-admin .container-admin-form  {
    background-color: rgba(255, 255, 255, 0.4);
    height: 300px;
    width: 250px;
}
.main-admin .admin-form label  {
    clear: both;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
}
.main-admin .admin-form input  {
    border: 2px solid silver;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 10px !important;
    width: 100%;
}
.main-admin .admin-form input[type=radio]  {
    margin-top: -25px;
}
.main-admin .admin-form input[type=submit]  {
    background-color: #811597;
    border: none;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-top: 30px;
    width: 100%;
}
@media (min-width: 576px){
    .main-admin  {
        height: 700px;
    }
    .main-admin .container-admin-form  {
        width: 400px;
    }
}
@media (min-width: 768px){
    .main-admin  {
        height: 900px;
    }
}
@media (min-width: 992px){

}
