body  {
    background-color: #F5F5F5;
    font-family: 'Lato', sans-serif;
}
/* C L A S S E S */
.color-green  {
    color: green;
}
.color-red  {
    color: red;
}
@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){

}